[Unit]
Description=Connect Open Wifi Service
After=networking.service

[Service]
User=pi
Type=simple
Restart=always
RestartSec=1
StandardOutput=append:/home/pi/dev/rounter-RUC/logs/backend.log
StandardError=append:/home/pi/dev/rounter-RUC/logs/backend.log
ExecStart=/home/pi/miniconda3/bin/python /home/pi/dev/rounter-RUC/src/auto-connect.py

[Install]
WantedBy=networking.service
